
html{
    overflow-x: hidden;
}

.traffic-box{
    height: auto;
}

.traffic-light{
    aspect-ratio: 1/1;
    width: 60%;
}

.idle-red{
    background: rgb(78, 44, 44);
}
.idle-yellow{
    background: rgb(120, 126, 44);
}
.idle-green{
    background: rgb(15, 78, 15);
}
.active-green{
    background: rgb(51, 230, 51);
}
.idle-purple{
    background: rgb(44, 5, 45);
}
.active-purple{
    background: rgb(155, 1, 155);
}